.navbar {
    display: flex;
}

.page-card {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
}

.card-page-unique {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Ensure that the image is positioned relative to this container */
    background-image: url("/topstory1.png"); /* Background image */
    background-size: cover;
    background-position: center;
   
}

.card-page-unique::before {
    content: ''; /* Create a pseudo-element to overlay the background */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white color for brightness */
}

.card-page-unique img {
    position: relative;
    z-index: 1; /* Ensure that the image appears above the blurred background */
}
